# Python
__pycache__/
*.py[cod]
*$py.class
env/
ENV/
.venv/
venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
# /media/  (removed so images show up in production)
/staticfiles/
.env
.env.*

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Node
node_modules/
